@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "JetBrains Mono", monospace;
  }
  body {
    @apply overflow-x-hidden;
  }
}

@layer utilities {
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px);
    }
    75% {
      transform: translateX(4px);
    }
  }
  .animate-shake {
    animation: shake 0.3s;
  }
  body {
    @apply overflow-x-hidden;
  }
}
