<nav class="p-4 flex space-x-6 border-b border-gray-800">
  <a href="/" class="hover:text-gray-400">Home</a>
  <a href="/daily-log" class="hover:text-gray-400">Daily Log</a>
  <a href="/fitness" class="hover:text-gray-400">Fitness</a>
  <a href="/projects" class="hover:text-gray-400">Projects</a>
  <a href="/reviews" class="hover:text-gray-400">Reviews</a>
</nav>
